:root {
  --p: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  margin: 0;
  padding: 0;

  position: relative;
}

body {
  background: #e2e5e8;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

@media (min-width: 700px) {
  :root {
    --p: 1rem clamp(1rem, 20vw, 40rem);
  }
}